# Bank Marketing

The <b>bank-marketing.csv</b> data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be (or not) subscribed. The ultimate goal is to predict if the client will subscribe to a term deposit (variable y). This is a classic classification problem where the attempt is to classify between two classes - those who'll subscribe and those who won't.

Dataset reference:
- S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology. 
- In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM'2011, pp. 117-121, Guimar√£es, Portugal, October, 2011. EUROSIS.

#### Variable description:

- 1 age (numeric)
- 2 job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student", "blue-collar","self-employed","retired","technician","services") 
- 3 marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
- 4 education (categorical: "unknown","secondary","primary","tertiary")
- 5 default: has credit in default? (binary: "yes","no")
- 6 balance: average yearly balance, in euros (numeric) 
- 7 housing: has housing loan? (binary: "yes","no")
- 8 loan: has personal loan? (binary: "yes","no")
   
#### related with the last contact of the current campaign:
- 9 contact: contact communication type (categorical: "unknown","telephone","cellular") 
- 10 day: last contact day of the month (numeric)
- 11 month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
- 12 duration: last contact duration, in seconds (numeric)

#### other attributes:
- 13 campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
- 14 pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
- 15 previous: number of contacts performed before this campaign and for this client (numeric)
- 16 poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):
- 17 y - has the client subscribed a term deposit? (binary: "yes","no")

### Read the dataset and answer the following questions.

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('bank-marketing.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [18]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

### Question

Extract all column names. Count the number of columns (using code).

In [19]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [20]:
len(df.columns)

17

### Question

Is data in the correct format? By that we mean, do you see integers and floats where you expect them to be the case? If not, convert them into the correct format. Also make sure that all entries are non-null.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

### Question

Provide a general summary statistics of the entire dataset. The describe() method is what you would want to use.

In [22]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

### Question

The data type of columns like job, married, education etc. is called categorical data. List all the different categories in the job column.

In [23]:
pd.set_option('display.max_rows', 0) # default
my_rows=pd.get_option('display.max_rows')
my_rows
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_rows', 0) # default
df.job.values

array(['unemployed', 'services', 'management', ..., 'technician',
       'blue-collar', 'entrepreneur'], dtype=object)

In [24]:
df['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

### Question

In one line of code, provide a count of the number of people who were unemployed and owned a home.

Assumption: If the individual has a housing loan, it is assumed he owns a home. If an individual has no housing loan, 
    it is assumed he does not own a house. Paid off loans do not exist.

In [25]:
len(df[(df.job == 'unemployed') & (df.housing == 'yes')])

58

### Question

What is the education level of a typical blue-collar worker? Explore value_counts() method.

In [26]:
df.education[(df.job == 'blue-collar')].value_counts()

secondary    524
primary      369
unknown       41
tertiary      12
Name: education, dtype: int64

In [27]:
df.education[df.job == 'blue-collar'].describe()

count           946
unique            4
top       secondary
freq            524
Name: education, dtype: object

The typical (most prominent) education level of blue-collar workers is 'secundary'

### Question

How many who are unemployed have an outstanding loan? Is that percentage more than that of the employed ones?

In [28]:
100*len(df[(df.job == 'unemployed') & (df.housing == 'yes')])/len(df[(df.job == 'unemployed')])

45.3125

In [29]:
100*len(df[(df.job != 'unemployed') & (df.housing == 'yes')])/len(df[(df.job != 'unemployed')])

56.931481903027546

'the employed ones':
Most students are not employed. 
Retired means you are no longer in an active employment relationship. 
Unknown could mean you live of the fat of the land or your employment falls outside the given categories. 
Unknown and students count partially towards employed. Retired are neither employed nor unemployed.

Answer: The percentile of unemployed, who have a housing loan is 45%. 
That is less then the 57% who are not unemployed.

### Question

What percent of clients subscribed to the term deposit (column y)?

In [30]:
100*len(df[df.y == 'yes'])/len(df)

11.523999115239992

### Question

What percent of married clients subscribed to the term deposit? Is that more or less than that for single folks?

In [31]:
len(df[(df.y == 'yes') & (df.marital == 'married')])

277

In [32]:
len(df[df.marital == 'married'])

2797

In [33]:
100*len(df[(df.y == 'yes') & (df.marital == 'married')])/len(df[df.marital == 'married'])

9.903468001430104

### Question

<p>Ask an interesting question of this data set and provide a solution to answer that.</p>
<p>The goal is to help teach your fellow students all possible questions we can collectively ask of this dataset. Your question should be as clear as possible and as short as possible. Try to avoid asking questions that are too trivial or obvious.</p>

<p>This is a bonus point question. The only way not to get full points are if you do the following:
<ul>
<li>You do not perform this task.
<li>You do not include a solution. 
</ul>
</p>
<p>If the solution you provide is incorrect, you will still receive full points. But you must make an honest effort to get it right.
</p>

Write your question here.

For each job category, what is the percentile of defaulting loans? Which job category would you not lent money? Which job category is the safest to lent money (ignoring the 'unknown' category)?

In [34]:
df['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [35]:
for job_cat in df['job'].unique():
    with_default=len(df[(df.job == job_cat) & (df.default == 'yes')]) 
    job_cat_cnt=len(df[df.job == job_cat])
    print(job_cat, 100*with_default/job_cat_cnt)

unemployed 2.34375
services 1.6786570743405276
management 1.4447884416924666
blue-collar 1.4799154334038056
self-employed 2.185792349726776
technician 1.953125
entrepreneur 4.166666666666667
admin 1.2552301255230125
student 1.1904761904761905
housemaid 1.7857142857142858
retired 1.3043478260869565
unknown 0.0

In [36]:
for job_cat in df['job'].unique():
    print(job_cat, 100*len(df[(df.job == job_cat) & (df.default == 'yes')]) / len(df[df.job == job_cat]))

unemployed 2.34375
services 1.6786570743405276
management 1.4447884416924666
blue-collar 1.4799154334038056
self-employed 2.185792349726776
technician 1.953125
entrepreneur 4.166666666666667
admin 1.2552301255230125
student 1.1904761904761905
housemaid 1.7857142857142858
retired 1.3043478260869565
unknown 0.0

The highest percentile of defaults is 4.2% in the job category entrepreneur. 
With this metric in mind, I would not lent money to entrepreneurs.

The lowest percentile of defaults is 1.2% in the job category student. 
With this metric in mind, I would lent money to students.